NEXTAUTH_SECRET="super-secret-key-change-me"
NEXTAUTH_URL="http://localhost:3000"
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=stud_iu_db
NEXT_PUBLIC_API_URL=https://tenmax.ru/api/v0
ADMIN_LOGIN=admin
ADMIN_PASSWORD=admin
